@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 0;
    display: none;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
}

button {
    background-color: unset;
    border-radius: unset;
    border: unset;
    cursor: pointer;
}

a {
    text-decoration: unset;
    color: unset;
}

body {
    background-color: white;
    margin: 0;
    width: 100vw;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

$green: #64A23E;
$yellow: #FFC700;
$green2: #64a23e80;
$yellow2: #ffc70066;
$text: #303030;
$none: #D9D9D9;

.ContentContainer {
    width: 100%;
    min-height: calc(100vh - 60px);
    margin-top: 60px;
    color: $text;
    display: flex;
    flex-direction: column;
    align-items: center;
}